/* --- main container --- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Poppins:ital,wght@1,700&family=Roboto:wght@300&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	font-family: "Open Sans", sans-serif;
}
.section-p{
	color: #aaaaaa;
}
.section-h1{
	color: #cda45e;
	font-size:30px;
}
.container{
	width:1170px;
	margin:0 auto;
	padding-left:15px;
	padding-right:15px;
	display:flex;	
	flex-wrap:wrap;
}
.container-fluid{
	width:100%;
	padding-left:15px;
	padding-right:15px;
	display:flex;	
	flex-wrap:wrap;
}

.align-items-center{
	align-items: center !important;
}
.align-items-start{
	align-items: flex-start !important;
}

/*=== header style === */
.header-top{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	z-index:4;
}
.header-info{
	padding:14px 0;
	background-color: rgb(12 11 9 / 14%);
}
.top-info{
	width:100%;
}
.info-list li{
	display:inline-block;
	padding-right:10px;
	color:white;
	font-family: "Open Sans", sans-serif;
	font-size:14px;
}
.info-list li i{
	color:#cda45e;
	margin-right:5px;
}

.language{	
	width:20%;
	color:white;
	text-align:right;
}
.lan-1:hover{
	    color: #cda45e;
}
.language a{
	font-size:14px;
	text-decoration:none;
	color:rgba(255, 255, 255, 0.5);
	margin-left:5px;
	margin-right:5px;
}
.header-menu{
	padding:6px 0;
	background-color:rgb(0 0 0 / 51%);
}
.logo{
	width:20%;
	color:white;
}
.menu{
	width:60%;
}
.navbar{
	text-align:center;
}
.navbar li{
	display:inline-block;
}
.navbar li a{
	display:block;
	text-decoration:none;
	color:#fff;
	font-size:14px;
	padding:20px 10px;
}
.navbar li a:hover{
	color: #d9ba85;
}
.menu-btn{
	width:20%;
	text-align:right;
}
.menu-btn a{
	display:inline-block;
	padding:8px 24px;
	text-align:center;
	background-color:  black;
	border:2px solid #cda45e;
	border-radius: 25px;
	text-decoration:none;
	text-transform:uppercase;
	font-size:14px;
}
.n-btn{
	text-decoration:none;
	color:white;
}
.n-btn:hover{
  background-color: #cda45e;
}
/*---- banner section ----*/
.banner-section{
	background:linear-gradient(rgb(0 0 0/60%), 	rgb(0 0 0 /60%)), url("../image/hero-bg.jpg");
	background-attachment:fixed;
	background-size:cover;
	padding:100px;
}
.banner-section1{
	color:white;
	width:50%;
	padding: 200px 0px 125px 0px;
}
.heading1{
    font-family: 'Poppins', sans-serif;
    font-size: 46px;
    color: #fff;
}
.btn{
	padding:20px 0px;
}
.res-color{
	   color: #cda45e;
}
.head2{
	color:#eee;
	
}
.btn-1{
	font-size:14px;
	margin-right:10px;
	border:2px solid #cda45e;
	border-radius: 35px;
	box-sizing:border-box;
	text-decoration:none;
	color:white;
	display:inline-block;
	padding:14px;
	width:140px;
	text-align:center;
}
.btn-1:hover{
  background-color: #cda45e;
}

.box2{
	width:50%;
	padding:15px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.box-icon{
	width:120px;
	height:120px;
	border-radius:100%;
	background-color:rgba(205,164,94,0.4);
	overflow:hidden;
	display:flex;
	justify-content:center;
	align-items:center;
}
.bicon-mini{
	width:90px;
	height:90px;
	position:relative;
	background-color:rgba(205,164,94,1);
	transition:2s;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-items:center;
}

.bicon-mini::after{
	content:"";
	width:90px;
	height:90px;
	position:absolute;
	animation-name:flow;
	border:2px solid rgba(205,164,94,0.4);
	border-radius:50%;
	animation-duration:2s;
	animation-iteration-count:infinite;
	animation-timing-function:ease-in-out;
	transform:scale(1);
}
@keyframes flow{
	0%{
		transform:scale(1);
	}
	100%{
		transform:scale(1.3);
	}
}
.bicon-mini a{
	text-decoration:none;	
}

.bicon-mini .icon-01{
	font-size:20px;
	color: white;
	transition-duration:0.4s;
	transform:scale(1);
	transition-timing-function:ease-in-out;
	z-index:1;
	opacity: 1;
}
.bicon-mini .icon-02{
	font-size:20px;
	color: white;
	position:absolute;
	top:35px;
	left:35px;
}
.bicon-mini .icon-01:hover{
	transform:scale(12);
	opacity:0;	
	transition-duration:0.75s;
}
.box-icon:hover{
	background-color:rgba(205,164,94,1);
	transition-delay:0.5s;
	transition-timing-function:ease-in-out;
}


/* --- about-section ---*/
.about-section{
	background:linear-gradient(rgb(0 0 0/60%), 	rgb(0 0 0 /60%)), url("../image/about-bg.jpg");
	width:100%;
	background-attachment:fixed;
	background-size:cover;
	padding:40px;
}

.content1{
    font-size: 30px;
	font-family: "Playfair Display", serif;
	color:white;
}.content2{
	font-family: "Open Sans", sans-serif;
	font-size:17px;
	color:#fff;
	font-style: italic;
}
.contant3 li{
	font-size:17px;
	list-style-type:none;
	font-family: "Open Sans", sans-serif;
    color: #fff;
	padding-bottom: 10px;
}
.contant3 i{
	font-size: 17px;
    padding-right: 4px;
    color: #cda45e;
	
}
.contant4{
	font-size:17px;
	color: #fff;
	font-family: "Open Sans", sans-serif;
}
.abt-cont{
	width:50%;
} 
.abt-img{
	width:50%;
	padding:0 15px;
    position: relative;
	transition: all 1s ease;
}
.abt-img::before{
	content:"";
	border-left: 5px solid #cda45e;
    border-top: 5px solid #cda45e;
    width: 60px;
	height: 60px;
	position: absolute;
    left: 30px;
    top: 10px; 
    z-index: 1;
	transition:all 1s ease;
}

.abt-img::after{
	content:"";
	border-right: 5px solid #cda45e;
    border-bottom: 5px solid #cda45e;
    width: 60px;
	height: 60px;
	position: absolute;
    right: 30px;
    bottom: 15px; 
    z-index: 1;
	transition:all 1s ease;
}
.abt-img:hover{
	transform: scale(1.05);	  
}
.abt-img:hover::before{
	top:5px;
	left:20px;
}
.abt-img:hover::after{
    bottom:5px;
	right:20px;
}
.abt-img img{
	height:auto;
	width:100%;
	border:2px solid gray;
}
/*--- why us section ---*/
.why-us-section{
	padding:40px;
	background-color:#0c0b09;
}
.sect-title{
	width:100%;
	margin-bottom:25px;
	background-color:#0c0b09;
}
.section-p:after{
	content:"";
	width:100px;
	margin:0px 10px 5px 10px;
	display:inline-block;
	border:1px solid gray;
}
.section-p{
	color:#aaaaaa;
}
.section-h1{
	color:#d9ba85;
	margin:10px 0px;
	font-size:30px;
}
.why-boxs{
	width:33.33%;
	padding:0px 15px;
}
.why-us-contant{
	background-color:#1a1814;
	padding: 40px;
	transition: all 1s ease;
}
.why-us-contant:hover{
	background: #cda45e;
}
.why-us-contant span{
	color:#cda45e;
	display:inline-block;
	padding-bottom:20px;
	font-size:30px;
	transition: all 1s ease;
}
.why-us-contant h3{
	font-size:25px;
	color:#fff;
	padding-bottom:20px;
	transition: all 1s ease;
}
.why-us-contant p{
	    font-family: "Open Sans", sans-serif;
	font-size:15px;
	color:#fff;
	transition: all 1s ease;
}
.why-us-contant:hover span,
.why-us-contant:hover h3,
.why-us-contant:hover p{
	transform: translateY(-20px);
	color:#fff;
}

/* --- food section ---*/
.section-menu{
	background-color:#1a1814;
	padding:70px 0px;
}
.menubox{
	width:100%;
}

.menu-type{
	width:100%;
	padding:10px 10px;
	margin-bottom:30px;
	background-color:#1a1814;
	text-align:center;
}
.type-li{
	list-style-type:none;
	padding:10px;
	display:inline-block;
} 
.type-li a:hover{
color:#d9ba85;
}
.type-li a{
	text-decoration:none;
	color:#fff;
}
.total-div{
	width:100%;
	display:flex;
	flex-wrap:wrap;
	box-sizing:border-box;
}
.food{
	width:50%;
	display:flex;
	padding:15px 15px ;
	
}
.food-img img{
	width: 80px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.2);
}
.img-content{
	flex-grow:3;
	padding:5px 15px;
	color:white;
	
}

.img-content-text{
	position:relative;
	display:flex;
	justify-content:space-between;
	z-index:1;
	
}
.img-content-text a{
	color:white;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	background-color:#1a1814;
	padding:5px;
}

.img-content-text a:hover{
	color:#d9ba85;
}
.img-content-text span{
	padding:5px;
	color:#d9ba85;
	background-color:#1a1814;
}
.img-content-text::after{
		content:'';
		position:absolute;
		top:50%;
		left:0px;
	    width:100%;
	    border-top:1px dashed gray;
		z-index:-1;
		transform:translatey(-50%);		    	
}
.img-content-p{
    font-style: italic;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 0.5);
}
/* --- check section ---*/
.check-section{
	padding:40px;
	background-color:#0c0b09;
}
.spec-title{
	width:100%;
	height:60px;
	
}
.check-section{
	background-color:#0c0b09;
	padding:60px 0px;
}
.spec-title{
	width:100%;
	padding:0px 0px 100px 0px;		   
}
.section-p{
	
	 color: #aaaaaa;
}
.section-h1{
	color: #cda45e;
}
.check-div{
	width:100%;
}
.chec-boxs1{
	width:25%;
}
.chec-boxs1 a{
	text-decoration:none;
	color:white;
	font-size:15px;
	font-family: "Open Sans", sans-serif;
	
}
.chec-boxs1 a:hover{
	color:#d9ba85;
}
.a-color  {
	background-color:#cda45e;
}

.chec-boxs1 li{
	
	list-style-type:none;
	padding:12px;
	border-right:2px solid #cda45e;
}
.chec-boxs2{
		width:75%;
		display:flex;
}
.sub-box2{
		width:70%;
		padding:0px 25px;
	}
.sub-box2 h1{
	width:90%;
	font-size:26px;
	font-weight: 600;
    margin-bottom: 20px;
    color: #fff;
}
.sub-box2 p{
	color: #aaaaaa;
	font-family: "Open Sans", sans-serif;
	margin:0px 0px 20px 0px; 
	
}
.chec-boxs3{
	width:30%;
}
.spc-img{
	width:100%;
}
/* --- event section ---*/

.event-section{
	background:linear-gradient(rgba(0 0 0 / 60%),rgba(0 0 0 / 60%)),url("../image/events-bg.jpg");
	background-attachment: fixed;
	background-size:cover;
	padding:60px;
}
.event-title{
	width:100%;
	height:100px;	
}

.organition-boxs1{
	width:50%;		
}
.organition-boxs1 img{
	width:100%;
	
}
.organition-boxs2{
	width:50%;
	padding:0px 20px;	
}
.organition-boxs2 h3{
	font-weight: 600;
	padding: 10px 0px;
    font-size: 26px;
    color: #cda45e;
	
}
.organition-boxs2 span{
	font-weight: 600;
    font-size: 26px;
    color: white;
	font-family: "Open Sans", sans-serif;
	border-bottom: 2px solid #cda45e;
	
}
.event-p1{
	color:white;
	line-height:24px;
	margin:16px 0px;
	font-family: 'Poppins', sans-serif;
	
}
.event-p2{
	color:white;
	font-size:17px;
	line-height:24px;
	margin:15px 0px;
	font-family: "Open Sans", sans-serif;
}
/* --- reservvation section ---*/

.reserv-section{
	background-color:#0c0b09;
	padding:60px 0px;
}
.reserv-title{
	width:100%;
}
.form-type{
	width:100%;
}
.form-div1{
	width:100%;
    display:flex;
	flex-wrap:wrap;
	box-sizing:border-box;
}
.form-div2{
	width:33.33%;
	padding:10px;
}
.form-type input{
	width:100%;
	color:white;
	padding:10px 10px;
	border:2px solid #625b4b;
    background: #0c0b09;
   
}
.form-div10{
	width:100%;
	padding:10px;
}
.form-div10 textarea{
	width:100%;
	color:white;
	font-size: 14px;
	 background: #0c0b09;
	 border:2px solid #625b4b;
	height:145px;
	padding:10px;
}
.button{
	width:100%;
	padding:10px;
	text-align:center;
}
.button a{
	border: 1px solid #cda45e;
	letter-spacing:1px;
	font-size:15px;
	text-decoration:none;
	padding:10px 30px;	
	color:white;
	border-radius:25px;
	background-color:#cda45e;
}

/* --- testimonnial section ---*/
.testimonial-section{
    padding:90px;
	background-color: #1a1814;
}
.test-title{
	width:100%;
	height:50px;
	
}
.test-boxs{
	position:relative;
	padding:0px 15px;
	background:#222;
	width:33.33%;
	height:220px;
	margin-right:20px;
	
}.test-boxs1{
	position:absolute;
	bottom:-45px;
	left:13px;
	width:100px;
	height:100px;
	border-radius:100%;
}
.ctn-div{
	width:100%;
	display:flex;
	padding:30px 0px;
}
.test-title{
	width:100%;
	background-color: #1a1814;
	
}

.test-boxs1{
	width:33.33%;
	border-radius:6px;
	position: relative;
	font-style: italic;
    margin: 0px 15px;
    background: #26231d;
	
}
.aboutbox1-p{
	color:white;
	line-height:27px;
	font-style: italic;
	font-family: "Open Sans", sans-serif;
	padding: 20px 20px 60px 20px;
}
.aboutbox1-p i{
	color:#d9ba85;
	Padding:10px;
}
.test-boxs-img {
	width:90px;
	height:90px;
	border-radius:50%;
	border:6px solid rgba(255, 255, 255, 0.2);
	position:absolute;
	top: 170px;
    right: 230px
	
}
.test-boxs-img img{
	width:100%;
	border-radius:50%;
}
.name-content{
	padding:50px 0px 0px 30px;
}
.name-content h3{
	color:white;
}
.name-content h4{
	color: #878684;
}
.abtimg h3{
	color:white;
}
/* --- gallery section ---*/

.p-01{
	padding:0px 0px;
}
.gallery-section{
	background-color:#0c0b09;
	padding:40px 0px;
}
.img-title{
	width:100%;
	margin:0px 100px;
} 
.gallery{
	width:100%;
	display:flex;
	flex-wrap:wrap;
	padding:30px 0px;
}
.img-boxs{
	width:25%;
	overflow:hidden;
	border-right: 4px solid #454035;
	border-bottom: 4px solid #454035;
}
.img-boxs img{
	width:100%;
	transition: all 0.5s ease-in-out ;
}
.img-boxs img:hover{
	transform:scale(1.1);
}
/* --- chef section ---*/
.chef-section{
	    background: #0c0b09;
}
.chef-title{
	width:100%;
}
.chef-img{
	width:100%;
	display:flex;
	padding:30px 0px;
	
}
.chef-box::after{
	content:"";
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 212, 255, 0) 100%);
	transition: all 0.5s ease;
	opacity:0;
}

.chef-box:hover:after{
     opacity:1;
	
}
.chef-box:hover .info-content{
	bottom:0px;
	opacity:1;
	transform: translatey(-20px);
}
.chef-box{
	width:33.33%;
	position:relative;
	margin-right:20px;
	overflow:hidden;

}
.chef-box img{
	display:block;
	width:100%;	
}
.info-content{
	width:100%;
	text-align:center;
	line-height:25px;
	position:absolute;
	left:0;
	bottom:0px;
	opacity:0;
	color:white;
	z-index:2;
	transition: all 0.5s ease;
	
}
.info-content div{
	padding:10px;
}

.info-content a{
	color:white;
	padding:10px;
	text-decoration:none;
}
/* --- contact us section ---*/
.contact-title{
	width:100%;
	margin:0px 100px;
	padding:0px 0px 30px 0px ;
}
.contact-box{
	width:100%;
}
.contact-us-section{
	background-color:#0c0b09;
}
/* --- location section ---*/

.section-contact{
	background: #0c0b09;
}
.section-title{
	width:40%;
	padding:20px;
	
}
.info{
	width:100%;
	display:flex;
	padding:20px;

}
.info-icon01{
	width:10%;
	padding:10px;
}
.info-icon01 i{
	border-radius:50%;
	font-size: 20px;
	color:white;
	padding:10px;
	background-color:#cda45e;
}
.info-one{
	width:90%;
	padding: 0px 25px;
}
.info-one h3{
	color:white;
	font-family: "Open Sans", sans-serif;
}
.info-one p{
	color:#bab3a6;
	font-size:14px;
	font-family: "Open Sans", sans-serif;
	padding:5px 0px;
}

.map-row{
	width:60%;
	padding:40px 0px;
}
.form-group01{
	width:100%;
	display:flex;
	flex-wrap:wrap;
}
.form-group01 div{
	width:50%;
	padding:10px;
}
.form-group01 div input{
	width:100%;
	color:white;
	padding:15px 10px;
	border:1px solid #625b4b;
    background: #0c0b09;
}
.form-group02 {
	width:100%;
	padding:10px;
}
.form-group02 input{
	width:100%;
	color:white;
	padding:15px 10px;
	border:1px solid #625b4b;
    background: #0c0b09;
}
.form-group03{
	width:100%;
	padding:10px;
}
.form-group03 textarea{
	width:100%;
	color:white;
	font-size: 14px;
	 background: #0c0b09;
	 border:1px solid #625b4b;
	height:180px;
	padding:10px;
}
.form-group04 {
	width:100%;
	padding:10px;
	text-align:center;
}
.form-group04 a{
	border: 2px solid #cda45e;
	letter-spacing:1px;
	font-size:15px;
	text-decoration:none;
	padding:10px 30px;	
	color:white;
	border-radius:25px;
	background-color:#cda45e;
	
}
/* --- restaruntly section --- */

.section-link{
	background-color: #0c0b09;
    border-top: 1px solid #37332a;
    border-bottom: 1px solid #28251f;
	padding:40px;
}
.section-link h3{
	color:white;
	padding:10px 0px;
	
}
.footer-info{
	width:25%;

}
.footer-info h2{
	 color:white;
	 padding:10px 0px;
	 
	 
}
.footer-info address{
	color:white;
	line-height:25px;
	padding:25px 0px;
}
.footer-info a{
	text-decoration:none;
	color:white;
	padding:10px;
	border-radius:50%;
	background-color:#28251f;
}
.footer-info a:hover{
	background-color:#d3af71;
}
.footer-link{
	width:20%;
}

.footer-link ul{
	list-style-type:none;

}
.footer-link ul li{
	padding:10px 0px;
}
.footer-link ul li i{
	color:#d3af71;
}
.footer-link a{
	text-decoration:none;
	color:white;
	font-family: "Open Sans", sans-serif;
	font-size:14px;
}
.footer-link a:hover{
	color:#d3af71;
}
.footer-newsletter{
	width:35%;
}
.footer-newsletter p{
	color:white;
	font-family: "Open Sans", sans-serif;
	font-size:14px;
	padding:10px 0px;
}

   .post {
    width: 100%;
    font-size: 14px;
    padding: 10px 0;
}
.email {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #878684;
    background-color: #1a1814;
    color: white;
	display:flex;
}
.email input {
    width: 70%;
    padding: 8px 0px;
    background-color: #1a1814;
    border: 1px solid #1a1814;
    color: white;
    margin-top: 8px;
    margin-left: 10px;
}
.email a {
	text-decoration:none;
    background-color: #cda45e;
    color: white;
    padding: 15px 19px;
    border-radius: 30px;
    font-size: 16px;
}
/* --- restaruntly section end--- */

.end-section{
	background-color:black;
}
.end{
	width:100%;
	height:auto;
	background-color:black;
	border:1px solid red;
}
.footer{
	width:100%;
	color:white;
	padding:20px;
	text-align:center;
	line-height:20px;
	font-family: "Open Sans", sans-serif;
}
.footer-a a{
	color:#cda45e;
	text-decoration:none;	
}
.footer p{
	padding-bottom:10px;
	
}